absl_py==1.4.0
matplotlib==3.7.0
numpy==1.24.2
opacus==1.1.1
scikit_learn==1.2.1
scipy==1.10.1
six==1.16.0

# for CUDA 11.6 torch on Linux
--find-links https://download.pytorch.org/whl/cu116; sys_platform == "linux"
torch==1.12.1; sys_platform == "linux"
torchvision==0.13.1; sys_platform == "linux"

# for cpu mac
torch==1.12.1; sys_platform == "darwin"
torchvision==0.13.1; sys_platform == "darwin"

# for cpu on windows
# If use CUDA 11.6 on windows, add this:
# --find-links https://download.pytorch.org/whl/cu116; sys_platform == "win32"
torch==1.12.1; sys_platform == "win32"
torchvision==0.13.1; sys_platform == "win32"